/* General Styles */
body {
    background-color: #f8f9fa;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #1f8ef1;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 75vh;
    position: relative;
}

header h1 {
    font-size: 4em;
    margin: 0;
    flex: 1;
    text-align: left;
    color: #ffffff;
}

.profile-photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

/* Dashboard */
.dashboard {
    background-color: #343a40;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.dashboard a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

/* Sections */
section {
    padding: 40px 20px;
}

h2 {
    border-bottom: 2px solid #1f8ef1;
    padding-bottom: 10px;
}

/* Section Background Colors */
#about {
    background-color: #d0e1f9; /* Pink color for About */
}

#projects {
    background-color: #d0e1f9; /* Light blue for Projects */
}

#internships {
    background-color: #fce4d6; /* Light green for Internships */
}

#education {
    background-color: #fce4d6; /* Light peach for Education */
}

#certifications {
    background-color: #fce4d6; /* Light purple for Certifications */
}

/* Section Container */
.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.section-description {
    flex: 1;
    padding-right: 20px;
}

.section-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.section-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

/* Project Dashboard */
.project-dashboard {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f39c12;
    margin-bottom: 20px;
}

.project-dashboard a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
}

/* Project Container */
.project-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.project-description {
    flex: 1;
    padding-right: 20px;
}

.project-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.project-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}

button {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
